# **Missing Values in Titanic DataSet**

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

**Dataset Link** : https://www.kaggle.com/c/titanic/data

#### Read the data in a pandas dataframe called titanic_df and understand their characteristics. Use "columns", "describe" and try to understand data with kaggle description







1.   **Survived:** Outcome of survival (0 = No; 1 = Yes)
2.  ** Pclass:** Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
3.   **Name:** Name of passenger
4.  ** Sex: **Sex of the passenger
5.  ** Age:** Age of the passenger (Some entries contain NaN)
6.  **SibSp:** Number of siblings and spouses of the passenger aboard
7.  **Parch:** Number of parents and children of the passenger aboard
8.   **Ticket:** Ticket number of the passenger
9.   **Fare: **Fare paid by the passenger
10. **Cabin** Cabin number of the passenger (Some entries contain NaN)
11. **Embarked:** Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

df.describe() method gives statistical information about numerical columns of the dataset

### Use 2 different methods to understand the number of non-null counts per column
df.info tells us about column datatypes, non-null counts and memory consumption. Use another one.

## Three columns have missing values : Age, Cabin and Embarked.
Calculate the percentage of null values for numeric columns

## Cabin Column

### Calculate the percentage of null values for cabin column

### Over 77% values in this column are missing. Which do you think is the best approach for this column?

# Embarked Column

### Embarked is a categorical column. Find wich values takes this variable

### Count the numbers for each value and calculate the percentage for the higher value

### Which do you think is the best approach in this case?

# Age Column

### Calculate the percentage of null values for cabin column

### Plot an histogram with the distribution of the age column

### Build a dataframe with Age and Sex columns

### Use a lambda function to  atribute the mean of the age per sex to the values to the null values

### Plot an histogram with the distribution of the column with the new values. Do you think is a good approach?

### Use a lambda function to  atribute the median of the age per sex to the values to the null values

### Plot an histogram with the distribution of the column with the new values. Do you think is a good approach?

# **Dealing with Outliers. Detecting Outliers**

## Import the libraries

## Load the data

## find features name

## Understand the dataset

## Create dataframe

## Oulier detection - Univarite - Boxplot of 'DIS'

## Check the correlation between features before multivariate outlier analysis and plot a heatmap

## Multivariate outlier analysis  - 'INDUS' and 'TAX' scatterplot

## Analysis of z values for the dataframe

## Stablish a threshold of 3 for the z values and print where z is bigger than that threshold

# Removing Outliers

# Remove outliers using z-values

## Calculate the shape of the original dataframe, and the new dataframe without outliers

# Remove outliers using IQR approach

## Calculate the shape of the dataframe without outliers